.pagebutton-container {
    width: 201px;
    height: 61px;
    background: #2A4365;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-name {
    width: 74px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;


}